@using Infrastructure.HtmlHelpers
@using Web.UI.Controllers
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" 
            href="http://gatherer.wizards.com/handlers/image.ashx?size=medium&name=G&type=symbol">

        <title>@ViewBag.Title</title>

        <!-- Bootstrap core CSS -->
        <link href="~/Content/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="~/Content/site.css" rel="stylesheet">
      
        <script src="~/Scripts/jquery-2.0.3.min.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.js"></script>
        <script src="~/Scripts/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="navbar-brand" href="@Url.Action("CollectionManager", "Collection")">
                            <img src="~/Content/Images/magic_logo.png" height="30"/>
                        </a>
                    }
                    else
                    {
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            <img src="~/Content/Images/magic_logo.png" height="30"/>
                        </a>
                    }
                </div>
                <div class="navbar-collapse collapse">
                     @if (!User.Identity.IsAuthenticated)
                     {
                         @(Html.MainMenu()
                               .Add(new MainMenuItem()
                                   .Action<HomeController>("Index")
                                   .Text("Home"))
                               .Add(new MainMenuItem()
                                   .Action<HomeController>("About")
                                   .Text("About")))

                         <ul class="nav navbar-nav navbar-right">
                             <li><a href="@Url.Action("Index", "Login")" >Log in</a></li>
                         </ul>
                     }
                     else
                     {
                         @(Html.MainMenu()
                               .Add(new MainMenuItem()
                                   .Action<CollectionController>("CollectionManager")
                                   .Text("Manage Collection"))
                               .Add(new MainMenuItem()
                                   .Action<CollectionController>("CollectionOverview")
                                   .Text("Collection Overview"))
                               .Add(new MainMenuItem()
                                   .Action<CollectionController>("DeckOverview")
                                   .Text("Deck Overview"))
                               .Add(new MainMenuItem()
                                   .Action<CollectionController>("DeckCreator")
                                   .Text("Create Deck"))
                                   .Add(new MainMenuItem()
                                   .Action<CollectionController>("DatabaseBrowser")
                                   .Text("Browse MTG Database")))
                         <ul class="nav navbar-nav navbar-right">
                             @Html.ActionLink(((Domain.User) User).DisplayName, "ChangePassword", "User")
                             <span> | </span>
                             <a href="@Url.Action("Logout", "Home")" >Log out</a>
                         </ul>
                     }
                </div>
            </div>
        </div>

        <div class="container">
            @RenderBody()
        </div>
        
        <script src="~/Scripts/jquery-2.0.3.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>
