@model UI.Web.ViewModels.Login.ResetPasswordViewModel

@section Title { @T.ResetPassword }
@section MainMenu {}
@section Footer {}

<div class="row">
    <div class="span4 offset4">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-lock"></i>
                <h3>Skaele Architecture - @T.ResetPassword</h3>
            </div>
            <div class="widget-content">
                        
                @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
                {
                    <div class="control-group">
                        @Html.LabelFor(x => x.Email, (string)T.Email, new { @class = "control-label" })
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">@@</span>
                                @Html.TextBoxFor(x => x.Email, new { @class = "span3", data_val = "true", data_val_required = T.Required, data_val_email = T.InvalidEmailAddress, placeholder = T.Email })
                                @Html.FocusFor(x=>x.Email)
                            </div>
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn">@T.Send</button>
                        <button id="backButton" type="button" class="btn">@T.Back</button>
                    </div>
                    <div style="margin-top: 40px;">
                        <img src="~/Themes/Default/Images/blocks.png" alt=""/>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('form').defaultAjaxForm({
            success: function (data) {
                // On success the client would be redirected.
                // No redirect means the user credentials are not valid
                AddFlashMessage('Error', data.message, 'error');
            },
            error: function () {
                AddFlashMessage('Error', 'Server error', 'error');
            }
        });
        
        $('#backButton').click(function() {
            window.location.href = '@Url.Action("Index")';
        });
    });
    
    
</script>
